@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-pink-400: hsl(0, 36%, 70%);
  --primary-red-500: hsl(0, 93%, 68%);
  --neutral-gray-900: hsl(0, 6%, 24%);
  /* Gradients */
  --gradient-white: linear-gradient(
    135deg,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 100%, 98%) 100%
  );
  --gradient-pink-rose: linear-gradient(
    135deg,
    hsl(0, 80%, 86%) 0%,
    hsl(0, 74%, 74%) 100%
  );
  /* Typography */
  --text-primary: "Josefin Sans", sans-serif;
  --text-weight-300: 300;
  --text-weight-400: 400;
  --text-weight-600: 600;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.coming-soon_container {
  width: 100%;
  min-width: 1400px;
  height: 100%;
  min-height: 50rem;
  border: 1px dashed magenta;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* Left side */
.apparel-content {
  width: 60%;
  height: 50rem;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
}
.apparel-content__icon {
  width: 10rem;
  height: fit-content;
  margin-bottom: 8rem;
}
.apparel-content__icon img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.apparel-content__heading {
  font-family: var(--text-primary);
  font-weight: var(--text-weight-600);
  font-size: 4.5rem;
  text-transform: uppercase;
  width: 25rem;
  letter-spacing: 0.25ch;
  line-height: 5rem;
  margin-bottom: 1.8rem;
}
.apparel-content__heading span {
  font-weight: var(--text-weight-300);
  color: var(--primary-pink-400);
}
.apparel-content__text {
  font-family: var(--text-primary);
  font-weight: var(--text-weight-600);
  font-size: 18px;
  color: var(--primary-pink-400);
  text-transform: none;
  width: 31rem;
  line-height: 1.75rem;
  margin-bottom: 1.8rem;
}
/* Right side */
.apparel-heroImage {
  width: 40%;
  height: 50rem;
}

.apparel-heroImage picture {
  width: 40%;
  height: 100%;
}

.apparel-heroImage picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer section */
